# Problem Set 2 - Question 3

# Imports

In [1]:
# modules: --------------------------------------------------------------------
import numpy as np
import pandas as pd
from timeit import Timer
#from collections import defaultdict
from IPython.core.display import display, HTML
# 79: -------------------------------------------------------------------------

## (a)

### Step 1: Read the data and select variables (columns).

In [2]:
url1 = "https://wwwn.cdc.gov/Nchs/Nhanes/2011-2012/DEMO_G.XPT"
url2 = "https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/DEMO_H.XPT"
url3 = "https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.XPT"
url4 = "https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.XPT"
url = [url1,url2,url3,url4]
cohort = ['G','H','I','J']

df = pd.DataFrame()
for i in range(4):
    df_adhoc = pd.read_sas(url[i])
    df_adhoc = df_adhoc[["SEQN", "RIDAGEYR", "RIDRETH3", "DMDEDUC2","DMDMARTL", 
                         "RIDSTATR", "SDMVPSU", "SDMVSTRA", "WTMEC2YR", 
                         "WTINT2YR",'RIAGENDR']]#Add gender
    df_adhoc['cohort'] = cohort[i]
    df = pd.concat([df,df_adhoc])
df

,SEQN,RIDAGEYR,RIDRETH3,DMDEDUC2,DMDMARTL,RIDSTATR,SDMVPSU,SDMVSTRA,WTMEC2YR,WTINT2YR,RIAGENDR,cohort
0,62161.0,22.0,3.0,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474,1.0,G
1,62162.0,3.0,1.0,NaN,NaN,2.0,3.0,92.0,16116.354010,15457.736897,2.0,G
2,62163.0,14.0,6.0,NaN,NaN,2.0,3.0,90.0,7869.485117,7397.684828,1.0,G
3,62164.0,44.0,3.0,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299,2.0,G
4,62165.0,14.0,4.0,NaN,NaN,2.0,2.0,90.0,13384.042162,12209.744980,2.0,G
...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,70.0,6.0,3.0,1.0,2.0,2.0,138.0,18338.711104,16896.276203,2.0,J
9250,102953.0,42.0,1.0,3.0,4.0,2.0,2.0,137.0,63661.951573,61630.380013,1.0,J
9251,102954.0,41.0,4.0,5.0,5.0,2.0,1.0,144.0,17694.783346,17160.895269,2.0,J
9252,102955.0,14.0,4.0,NaN,NaN,2.0,1.0,136.0,14871.839636,14238.445922,2.0,J
9253,102956.0,38.0,3.0,4.0,3.0,2.0,1.0,142.0,39426.299948,38645.740291,1.0,J

### Step 2: rename columns

In [3]:
df = df.rename(columns = {"SEQN": "ids", 
                          "RIDAGEYR": "age", 
                          "RIDRETH3": "race/ethnicity", 
                          "DMDEDUC2": "education", 
                          "DMDMARTL": "marital_status",
                          'RIAGENDR': 'gender'}) #Add gender
df = df.rename(str.lower, axis='columns')
df

,ids,age,race/ethnicity,education,marital_status,ridstatr,sdmvpsu,sdmvstra,wtmec2yr,wtint2yr,gender,cohort
0,62161.0,22.0,3.0,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474,1.0,G
1,62162.0,3.0,1.0,NaN,NaN,2.0,3.0,92.0,16116.354010,15457.736897,2.0,G
2,62163.0,14.0,6.0,NaN,NaN,2.0,3.0,90.0,7869.485117,7397.684828,1.0,G
3,62164.0,44.0,3.0,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299,2.0,G
4,62165.0,14.0,4.0,NaN,NaN,2.0,2.0,90.0,13384.042162,12209.744980,2.0,G
...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,70.0,6.0,3.0,1.0,2.0,2.0,138.0,18338.711104,16896.276203,2.0,J
9250,102953.0,42.0,1.0,3.0,4.0,2.0,2.0,137.0,63661.951573,61630.380013,1.0,J
9251,102954.0,41.0,4.0,5.0,5.0,2.0,1.0,144.0,17694.783346,17160.895269,2.0,J
9252,102955.0,14.0,4.0,NaN,NaN,2.0,1.0,136.0,14871.839636,14238.445922,2.0,J
9253,102956.0,38.0,3.0,4.0,3.0,2.0,1.0,142.0,39426.299948,38645.740291,1.0,J

### Step 3: convert to proper types

In [4]:
df = df.convert_dtypes()
#convert 'age' to integer
df['age'] = df['age'].astype(int)
#convert 'ids', 'race/ethnicity', 'education', 'marital_status' into categorical data
for var in ['ids', 'race/ethnicity', 'education', 'marital_status']:
    df[var] = pd.Categorical(df[var])
print(df.dtypes)
print(df.head())

ids               category
age                  int64
race/ethnicity    category
education         category
marital_status    category
ridstatr             Int64
sdmvpsu              Int64
sdmvstra             Int64
wtmec2yr           Float64
wtint2yr           Float64
gender               Int64
cohort              string
dtype: object
     ids  age race/ethnicity education marital_status  ridstatr  sdmvpsu  \
0  62161   22              3         3              5         2        1
1  62162    3              1       NaN            NaN         2        3
2  62163   14              6       NaN            NaN         2        3
3  62164   44              3         4              1         2        1
4  62165   14              4       NaN            NaN         2        2

   sdmvstra       wtmec2yr       wtint2yr  gender cohort
0        91  104236.582554  102641.406474       1      G
1        92    16116.35401   15457.736897       2      G
2        90    7869.485117    7397.684828       1      G
3        94  127965.226204  127351.373299       2      G
4        90   13384.042162    12209.74498       2      G

### Step 4: export data in pickle format

In [5]:
df.to_pickle('demographic_2011-2018.pkl')

## (b)

In [6]:
url1 = "https://wwwn.cdc.gov/Nchs/Nhanes/2011-2012/OHXDEN_G.XPT"
url2 = "https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/OHXDEN_H.XPT"
url3 = "https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/OHXDEN_I.XPT"
url4 = "https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/OHXDEN_J.XPT"
url = [url1,url2,url3,url4]
cohort = ['G','H','I','J']

In [7]:
df_oral = pd.DataFrame()
regex_stm = r"OHX.{2}TC|OHX.{2}CTC|SEQN|OHDDESTS"
for i in range(4):
    df_adhoc = pd.read_sas(url[i])
    new_df = df_adhoc.filter(regex=regex_stm, axis=1)
    new_df['cohort'] = cohort[i]
    df_oral = pd.concat([df_oral, new_df])
df_oral

/Users/shushuz/opt/anaconda3/envs/507/lib/python3.9/site-packages/pandas/io/sas/sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v
/var/folders/44/fh7jk3ps13xgzqc8v05brvm40000gs/T/ipykernel_18198/882201406.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['cohort'] = cohort[i]

,SEQN,OHDDESTS,OHX01TC,OHX02TC,OHX03TC,OHX04TC,OHX05TC,OHX06TC,OHX07TC,OHX08TC,...,OHX23CTC,OHX24CTC,OHX25CTC,OHX26CTC,OHX27CTC,OHX28CTC,OHX29CTC,OHX30CTC,OHX31CTC,cohort
0,62161.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'S',G
1,62162.0,1.0,4.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,...,b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'U',b'U',G
2,62163.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Y',b'S',G
3,62164.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'Z',G
4,62165.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,102952.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',J
8362,102953.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',J
8363,102954.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'F',b'S',b'S',J
8364,102955.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',J
8365,102956.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'E',J

In [8]:
#df = pd.DataFrame()
#regex_stm = r"OHX.{2}TC|OHX.{2}CTC|SEQN|OHDDESTS"
#for test in test1, test2, test3, test4:
#    new_df = test.filter(regex=regex_stm, axis=1)
#    df = pd.concat([df, new_df])
#df

In [9]:
# Rename columns
df_oral = df_oral.rename(columns = {"SEQN": "ids", 
                          "OHDDESTS": "dentition_status"}) 
#                          "OHX.{2}TC": "tooth_count", 
#                          "OHXxxCTC": "coronal_cavities"})
df_oral = df_oral.rename(str.lower, axis='columns')
df_oral

,ids,dentition_status,ohx01tc,ohx02tc,ohx03tc,ohx04tc,ohx05tc,ohx06tc,ohx07tc,ohx08tc,...,ohx23ctc,ohx24ctc,ohx25ctc,ohx26ctc,ohx27ctc,ohx28ctc,ohx29ctc,ohx30ctc,ohx31ctc,cohort
0,62161.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'S',G
1,62162.0,1.0,4.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,...,b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'U',b'U',G
2,62163.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Y',b'S',G
3,62164.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'Z',G
4,62165.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,102952.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',J
8362,102953.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',J
8363,102954.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'F',b'S',b'S',J
8364,102955.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',J
8365,102956.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'E',J

In [10]:
df = df.convert_dtypes()
#convert all variables into categorical data
for var in df.columns:
    df[var] = pd.Categorical(df[var])
df_oral

,ids,dentition_status,ohx01tc,ohx02tc,ohx03tc,ohx04tc,ohx05tc,ohx06tc,ohx07tc,ohx08tc,...,ohx23ctc,ohx24ctc,ohx25ctc,ohx26ctc,ohx27ctc,ohx28ctc,ohx29ctc,ohx30ctc,ohx31ctc,cohort
0,62161.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'S',G
1,62162.0,1.0,4.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,...,b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'U',b'U',G
2,62163.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Y',b'S',G
3,62164.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'Z',G
4,62165.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,102952.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',J
8362,102953.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',J
8363,102954.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'F',b'S',b'S',J
8364,102955.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',J
8365,102956.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'E',J

In [11]:
df_oral.to_pickle('oral_2011-2018.pkl')

## (c)
- The number of cases in demographic dataset (i.e. (a)) is 39156.
- The number of cases in dentition dataset (i.e. (b)) is 35909.

In [12]:
print(df.shape)
print(df_oral.shape)

(39156, 12)
(35909, 63)